<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
    
    <title>Mateshare </title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e87ebb70cc.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Custom styles for this template -->
  </head>



<main>

  <body class="bg-light">
    <!--navbar-->
    <div class="shadow-sm p-0">
      <nav class="navbar navbar-expand navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" ><b>Mateshare</b></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/myfiles/<%=userData.username%>">My File</a>
              </li>
            </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="#"
                id="menuProfil"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
              <%=userData.username%>
              </a>
             
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="menuProfil"
              >
                <a class="dropdown-item" href="/user/profile"> Ubah Profil </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Sign Out </a>
              </div>
            </li>
          </ul>
          </div>
        </div>
      </nav>
    </div>

    <!------------NAV BAAR-->



      <div class="container mt-5">
        <div class="row p-3 shadow-sm rounded bg-white my-3">
          <h3>
            <b>My Files</b>
          </h3>
        </div>
        
        <div class="row justify-content-center pt-1 shadow-sm rounded bg-white" disabled>
          <div class="col">
            <div class="row py-2">
              <div class="col-md-6 col-sm-12 invisible">
                <form class="form-inline mt-2" action="#" method="post">
                  <input
                    class="form-control col-sm-8"
                    type="search"
                    name="keyword"
                    placeholder="Cari File"
                    aria-label="Search"
                  />
                  <button
                    class="btn btn-danger my-2 col-md-2 col-sm-12"
                    type="submit"
                  >
                    Cari
                  </button>
                </form>
              </div>

              <div class="col-md-6 col-sm-12">
                <a href="/user/upload/<%=userData.username%>"
                  ><button
                    class="mt-3 btn btn-danger float-right col-md-4 col-sm-12"
                  >
                    <span class="m-1"><i class="fas fa-plus"></i></span>
                    Unggah File
                  </button>
                </a>
              </div>
            </div>

            <div class="row p-3">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama Materi</th>
                      <th>Mata Pelajaran</th>
                      <th>Tanggal Unggah</th>
                      <th>Poin</th>
                      <th>Aksi</th>
                      <th><!--button peserta--></th>
                      <th><!--button edit--></th>
                      <th><!--button delete--></th>
                      <th><!--button download--></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border">
                    <!-- <?php var_dump($data) ?> -->




                      <!--foreach-->
                      <% data.forEach(function(item, i) { %>
                        <tr>
                          <td><%=(i+1)%></td>
                          <td><%=item.filename%></td>
                          <td><%=item.mataPelajaran%></td>
                          <td><%=item.tanggalUnggah%></td>
                          <td><%=item.totalPoin%></td>
                          <td>
                            <a href="#detail">
                              <button class="btn btn-outline-danger px-3 py-1">
                                Detail
                              </button>
                            </a>
                          </td>
                          <td>
                            <a href="#share">
                              <button class="btn btn-outline-danger px-2 py-1">
                                <i class="fas fa-share-alt"></i>
                              </button>
                            </a>
                          </td>
                          <td>
                            <a href="#edit">
                              <button class="btn btn-outline-danger px-2 py-1">
                                <i class="fas fa-pencil-alt"></i>
                              </button>
                            </a>
                          </td>
                          <td>
                            
                              <button 
                              class="btn btn-outline-danger px-2 py-1"
                              data-toggle="modal"
                              data-target="#hapusFileModal">
                                <i class="fas fa-trash-alt"></i>
                              </button>
                            
                            <!-- modal-->
                            <div
                              class="modal fade"
                              id="hapusFileModal"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="exampleModalLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                      <b>Hapus File</b>
                                    </h5>
                                    <button
                                      type="button"
                                      class="close"
                                      data-dismiss="modal"
                                      aria-label="Close"
                                    >
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    
                                      <h6 class="mt-3 mb-5" > Apakah anda yakin ingin menghapus materi?</h6>
                                      <a href="/deletefile/<%=item.DBfilename%>">
                                        <button
                                          type="button"
                                          class="btn btn-danger float-right ml-1"
                                        >
                                          Hapus Materi
                                        </button>
                                        </a>
                                        <button
                                          type="button"
                                          class="btn btn-outline-danger float-right"
                                          data-dismiss="modal"
                                        >
                                          Tidak
                                        </button>
                                      
              
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--modal-->
                          </td>
                          <td>
                            <a href="/download/<%=item.DBfilename%>" target="_blank">
                              <button class="btn btn-outline-danger px-2 py-1">
                                <i class="fas fa-download"></i>
                              </button>
                            </a>
                          </td>
                        </tr>
                        <% }); %>
                        

                      <!--endforeach-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>


